[Unit]
Description=NVIDIA CPLD monitor
#TDB add After Clause
[Service]
Restart=always
Type=dbus
ExecStart=/usr/bin/env nvidia-cpld-monitor
SyslogIdentifier=nvidia-cpld-monitor
BusName=com.Nvidia.Cpld

[Install]
WantedBy=multi-user.target
